MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList
{
    font-size: 22px; font-family: "Alegreya"; 
    padding-left: 2px;
  background: #1E2431;
  color: #f0f0f0;
}
MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList, MainWindow #historyPane #historyList
{
    font-size: 22px; font-family: "Alegreya"; 
    padding-left: 2px;
     background: #1E2431;
    color: #f0f0f0;
}

MainWindow #dictsPane #dictsList
{
    font-size: 22px; font-family: "Alegreya"; 
    padding-left: 2px;
     background: #1E2431;
    color: #f0f0f0;
}
